$background-color:rgb(255, 255, 255); ;
$tittle-color:aliceblue;
$tittle-index-color:rgb(143, 143, 143);
$tittle-index-hover-color:rgb(78, 78, 78);
$panels-color:rgb(17, 61, 60);
$menu-hoover-color:rgb(214, 209, 137);
$menu-border-hoover-color:rgba(0, 0, 0, 0.219);
$submenu-animation-color:rgb(104, 104, 104);
$submenu-hover-color:rgb(231, 231, 231);
$tittle2-color:rgb(197, 197, 197);
$subtittle-color:rgb(92, 92, 92);
$estilos: (
    color: rgb(17, 61, 60),
    alineacion: center,)

   